.page-view {
  background-color: var(--cl-light);
  border: 2px solid var(--cl-main);
  border-radius: 20px;

  .data {
    padding-block: 3rem;
    padding-inline-end: 5rem;
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    padding-block: 3rem;
    padding-inline: 15rem;
  }
}

.confirm {
  padding: 10rem;
  h2 {
    padding-block: 3rem;
  }
}
